
html, body, #content {
    margin: 0;
    height: 100%;
}
#content {
    display: grid;
    grid-template-rows: 
        4fr 1fr 200fr 1fr
    ;
}
header {
    background: #de8919;
    display: flex;
    align-items: center;
    padding: 1vw;
}
#logo {
    display: grid;
    grid-template-columns: .5fr 1fr 45fr;
}
#logo > img {
    width: 5rem;
}
#tabs {
    background: #722f37;
    display: flex;
    align-content: center;
}
button.tab {
    margin: auto;
    width: 20%;
    background-color: #de8919;
    border-radius: 0 0 5px 5px;
    font-weight: bold;
    border: none;
    transition: .4s;
}

button.tab:hover {
    background-color: #b46e12cb;
}

main {
    display: flex;
    align-items: center;
    background: #722f37;
}
#background {
    width: 100vw;
    margin: auto;
    border-radius: 1%;
}

#about-partners, #menu, #about-us {
    background-color: #7eb6db;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 10px 10px #457ca0;
    width: 70%;
}
#menu {
    width: 50%;
}

#menu>ul {
    align-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

h2,
#about-partners>p, #about-us>p {
    text-align: center;
}

footer {
    background: #de8919;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    align-items: center;
    padding: 10px;
}
li {
    list-style-type: none;
    margin: 5px 0px;
    text-align: center;
}