
html, body, #content {
    margin: 0;
    height: 100%;
}
#content {
    display: grid;
    grid-template-rows: 
        4fr 1fr 200fr 1fr
    ;
}
header {
    background: #de8919;
    display: flex;
    align-items: center;
    padding: 1vw;
}
#logo {
    display: grid;
    grid-template-columns: .5fr 1fr 45fr;
}
#logo > img {
    width: 5rem;
}
#tabs {
    background: #982d23;
    display: flex;
    align-content: center;
}
button.tab {
    margin: auto;
    width: 20%;
    background-color: #7eb6db;
    color:#982d23;
    transition: 0.3s;
    font-weight: bold;
    border: none;
    border-radius: 5px 5px 0 0;

}

button.tab:hover {
    background-color: #de8919;
    color: black;
    border-radius: 0 0 5px 5px;
}
main {
    display: flex;
    align-items: center;
    background: #982d23;
}
#background {
    width: 100vw;
    margin: auto;
    border-radius: 1%;
}
footer {
    background: #de8919;
    color: white;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    align-items: center;
    padding: 10px;
}
li {
    list-style-type: none;
    margin: 5px 0px;
    text-align: center;
}