
html, body, #content {
    margin: 0;
    height: 100%;
}
#content {
    display: grid;
    grid-template-rows: 
        2fr 200fr 1fr
    ;
}
header {
    background: #de8919;
    display: flex;
    align-items: center;
    padding: 1vw;
}
#logo {
    display: grid;
    grid-template-columns: .5fr 1fr 45fr;
}
#logo > img {
    width: 5rem;
}
main {
    display: flex;
    align-items: center;
    background: #982d23;
}
#background {
    width: 100vw;
    margin: auto;
    border-radius: 1%;
}
footer {
    background: #de8919;
    color: white;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    align-items: center;
    padding: 10px;
}
li {
    list-style-type: none;
    margin: 5px 0px;
    text-align: center;
}